<header>
    <div class="col2 container">
      <a href="/" id="header-logo" class="cell1 start">
        <img src="<%= site.root %>/images/logo.png" alt="{pm-logo-alt(header)}" />
        <h1 class="tablet-hide">
          <%= site.title %>
        </h1>
      </a>
      <button id="hamburger" class="cell2 end desktop-hide" aria-label="{pm-hamburger-aria-label(header)}"></button>
      <div class="cell2 end tablet-hide">
        <% include _language %>
      </div>
    </div>
    <div class="separator"></div>
    <div class="col1 container">
      <% include _navigation %>
    </div>
</header>