<header>
  <div class="tablet-hide">
    <div class="col2 header-top">
      <a href="/" class="cell1 start">
        <img src="<%= site.root %>/images/logo.png" class="logo" />
        <p id="title">
        <%= site.title %>
        </p>
      </a>
      <div class="cell2 end">
      <% include _language %>
      </div>
    </div>
    <div class="col1">
      <% include _navigation %>
    </div>
  </div>
  <div class="desktop-hide">
    <div class="col2 header-top">
      <a href="/" class="cell1 start">
        <img src="<%= site.root %>/images/logo.png" class="logo" alt="Privacy Manager logo">
      </a>
      <button class="cell2 end" id="hamburger" aria-label="Open primary navigation"></button>
    </div>
    <div id="hamburger-menu">
      <% include _navigation %>
    </div>
  </div>
</header>