<header>
  <div>
    <div id="header-top" class="col2 device">
      <a href="/" id="header-logo" class="cell1 start">
        <img src="<%= site.root %>/images/logo.png" alt="Privacy Manager logo" />
        <p class="tablet-hide">
          <%= site.title %>
        </p>
      </a>
      <button id="hamburger" class="cell2 end desktop-hide" aria-label="Open primary navigation"></button>
      <div class="cell2 end tablet-hide">
        <% include _language %>
      </div>
    </div>
    <div class="col1 tablet-hide">
      <% include _navigation %>
    </div>
    <div id="hamburger-menu" class="desktop-hide">
      <% include _navigation %>
    </div>
  </div>
</header>