<!DOCTYPE html>
<html lang="<%= page.locale %>">
  <head>
    <% include _head %>
  </head>
  <body>
    <% include _header %>
    <main>
      <%- page.body %>
    </main>
    <footer>
      <p class="container middle"> Website content is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Creative Commons 4.0</a>
      <p class="container middle"> © 2020 Privacy Manager</p>
    </footer>
  </body>
</html>
