header
{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.06);
}

header select
{
  color: @secondary;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  margin: 25px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-attachment: fixed;
  background: url(/images/language-arrow.svg) transparent no-repeat right center;
}

#header-logo
{
  display: flex;
  text-decoration: none;
  padding: 25px;
}

#header-logo p
{
  color: @primary;
  padding: 0 10px;
  font-weight: bold;
  margin: 0;
  align-self: center;
}

#header-logo img
{
  width: 32px;
}

@media (min-width: @tablet-width)
{
  .desktop-hide
  {
    display: none;
  }
}

@media (max-width: @tablet-width)
{
  .tablet-hide
  {
    display: none;
  }

  header nav ul 
  {
    padding: 10px;
  }
}