#header-top
{
  padding: 25px;
}

header label select
{
  width: 163px;
  color: @secondary;
  font-size: 24px;
  border: 0;
  opacity: 0.7;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/images/language-arrow.png) no-repeat right;
}

#header-logo
{
  display: flex;
  text-decoration: none;
}

#header-logo p
{
  color: @primary;
  padding: 0 10px;
  font-weight: bold;
}

#header-logo img
{
  align-self: center;
  width: 32px;
  height: auto;
}

@media (min-width: @tablet-width)
{
  .desktop-hide
  {
    display: none;
  }
}

@media (max-width: @tablet-width)
{
  .tablet-hide
  {
    display: none;
  }

  header
  {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.06);
  }

  header label select
  {
    padding: 10px;
  }
}