header
{
  margin: 25px 30px; 
}

header label
{
 align-self: center;
 justify-self: end;
}

header label select
{
  width: 163px;
  color: #3A7D11;
  font-weight: 500;
  font-size: 24px;
  border: 0;
  opacity: 0.7;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/images/language-arrow.png) no-repeat right;
}

header a
{
  text-decoration: none;
}

header p
{
  display: inline;
  opacity: 0.7;
  color: #000000;
}

header img
{
 vertical-align: middle;
}
