main
{
  & > section
  {
    padding: 78px 25px;
    box-sizing: border-box;
  }

  h2, h3, h4
  {
    font-weight: 700;
  }

  h2
  {
    font-size: 60px;
    line-height: 120%;
    margin:0;
  }

  h3
  {
    font-size: 48px;
  }

  h3 em
  {
    font-style: normal;
    color: @secondary;
  }

  h4
  {
    font-size: 36px;
  }

  ul li
  {
    font-weight: 300;
    font-size: 24px;
    line-height: 184.9%;
  }

  ul
  {
    list-style-image: url("/images/list-point.svg");
    padding: 40px 30px;
    margin: 0;
  }

  #promo-video
  {
    width: 100%;
    max-width: 446px;
    height: 282px;
  }

  #install-button
  {
    display: block;
    padding: 30px;
    margin: 20px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    background: #3A7D11;
    box-shadow: 0px 8px 20px rgba(104, 171, 103, 0.35);
    border-radius: 83px;
    text-align:center;
    color: #ffffff
  }

  .bg-secondary
  {
    background-color: #F9F9F9;
  }

  .cards > div
  {
    max-width: 340px;
    text-align: center;
  }
}
