@import "_variables.less";
@import "_navigation.less";
@import "_header.less";
@import "_grid.less";

body
{
  font-family: Roboto, sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/roboto-500.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/roboto-500-cyrillic.woff2) format('woff2');
}

main
{
  margin: 0px auto;
  padding: 30px;
  max-width: 1000px;
}
