---
title: Privacy Manager
description: Privacy Manager website
---

<section class="col2 container">
  <div>
    <h2>{privacy-manager-header[Header of the section] Privacy Manager}</h2>
    <ul>
      <li>{privacy-manager-li1[Privacy Manager section bullet point] Privacy Management}</li>
      <li>{privacy-manager-li2[Privacy Manager section bullet point] <fix>Cookie</fix> Management}</li>
      <li>{privacy-manager-li3[Privacy Manager section bullet point] Browsing data deletion on browser start}</li>
      <li>{privacy-manager-li4[Privacy Manager section bullet point] Network monitoring}</li>
    </ul>
    <a id="install-button" href="https://chrome.google.com/webstore/detail/privacy-manager/giccehglhacakcfemddmfhdkahamfcmd" target=_blank>Get Privacy Manager for Chrome</a>
  </div>
  <iframe class="tablet-hide end" id="promo-video" src="https://www.youtube.com/embed/iaKweivaOhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section class="bg-secondary">
  <div class="col3 center container cards">
    <h3 class="cell1-3">{privacy-manager-h31[Privacy Manager section h3 title] What <em>You Get</em>}</h3>
    <div>
      <img src="/images/trancparency.svg" alt="{pm-transparency-alt[Privacy manager transparency image alt text] Magnifier and newspaper}" />
      <h4>{privacy-manager-h41[Privacy Manager section h4 title] Transparency}</h4>
      <p>{pm-transparency-text[Privacy manager transparency text] Something about Transparency, Something about Transparency Something about Transparency}</p>
    </div>
    <div>
      <img src="/images/keep-under-control.svg" alt="{pm-control-alt[Privacy manager content control image alt text] Content control}" />
      <h4>{privacy-manager-h42[Privacy Manager section h4 title] Keep Under Control}</h4>
      <p>{pm-control-text[Privacy manager text about keeping under control] Something about Control Something about Control Something about Control}</p>
    </div>
    <div>
      <img src="/images/stay-secure.svg" alt="{pm-secure-alt[Privacy manager stay secure image alt text] Folder with a shield}" />
      <h4>{privacy-manager-h43[Privacy Manager section h4 title] Stay Secure}</h4>
      <p>{pm-secure-text[Privacy manager text about staying secure] Something about Security Something about Security Something about Security}</p>
    </div>
  </div>
</section>
<section id="media" class="col4 center container">
  <h3 class="cell1-4">{privacy-manager-h32[Privacy Manager section h3 title] What Media <em>Says</em>}</h3>
  <a href="#"><img src="/images/lifehacker.svg" alt="{pm-lifhacker-alt[Lifehacker logo alt text] The logo of lifehacker}"></a>
  <a href="#"><img id="greyscale" src="/images/c-net.svg" alt="{pm-cnet-alt[C-net logo alt text] The logo of c-net}"></a>
  <a href="#"><img src="/images/ghacks.png" alt="{pm-ghacks-alt[Ghacks logo alt text] The logo of ghacks}"></a>
  <a href="#"><img src="/images/technorms.png" alt="{pm-technorms-alt[Technorms logo alt text] The logo of technorms}"></a>
</section>
<footer>
</footer>