---
title: Homepage
description: Get your webiste up and running online in no time using current starter
header: <fix>CMintS</fix> starter
---
<section class="col2">
  <div>
    <h1>Privacy Manager</h1>
    <ul>
      <li>Privacy Management</li>
      <li>Cookie Management</li>
      <li>Browsing data deletion on browser start</li>
      <li>Network monitoring</li>
    </ul>
    <a href = "https://chrome.google.com/webstore/detail/privacy-manager/giccehglhacakcfemddmfhdkahamfcmd" target=_blank>Get Privacy Manager for Chrome</a>
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iaKweivaOhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<section class="col3">
  <h2 class="cell1-3">What You Get</h2>
    <div>
      <img src="/images/trancparency.png" />
      <h3> Transparency</h3>
      <p>Something about Transparency, Something about Transparency Something about Transparency</p>
    </div>
    <div>
      <img src="/images/keep-under-control.png" />
      <h3>Keep Under Control</h3>
      <p>Something about Control Something about Control Something about Control</p>
    </div>
    <div>
      <img src="/images/stay-secure.png" />
      <h3>Stay Secure</h3>
      <p>Something about Security Something about Security Something about Security</p>
    </div>
</section>
<section class="col4">
  <h2 class="cell1-4">What Media Says</h2>
  <a href="#"><img src="/images/lifehacker.png" alt=""></a>
  <a href="#"><img src="/images/c-net.png" alt=""></a>
  <a href="#"><img src="/images/ghacks.png" alt=""></a>
  <a href="#"><img src="/images/technorms.png" alt=""></a>
</section>