---
title: Privacy Manager
description: Privacy Manager website
---

<section class="col2 container">
  <div>
    <h2>{privacy-manager[Header of the section] Privacy Manager}</h2>
    <ul>
      <li>{privacy-manager-li1[Privacy Manager section bullet point] Privacy Management}</li>
      <li>{privacy-manager-li2[Privacy Manager section bullet point] <fix>Cookie</fix> Management}</li>
      <li>{privacy-manager-li3[Privacy Manager section bullet point] Browsing data deletion on browser start}</li>
      <li>{privacy-manager-li4[Privacy Manager section bullet point] Network monitoring}</li>
    </ul>
    <a id="install-button" href="https://chrome.google.com/webstore/detail/privacy-manager/giccehglhacakcfemddmfhdkahamfcmd" target=_blank>{Privacy-manager-download-button[Download button text in 'Privacy Manager' section] Get Privacy Manager for Chrome}</a>
  </div>
  <iframe class="tablet-hide end" id="promo-media" src="https://www.youtube.com/embed/iaKweivaOhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</section>
<section class="bg-secondary">
  <div class="col3 center container cards">
    <h3 class="cell1-3">{what-you-get[Section title] What <em>You Get</em>}</h3>
    <div>
      <img src="/images/trancparency.svg" alt="{what-u-get-alt1['What you get' section item image alt] Magnifier and newspaper}" />
      <h4>{what-u-get-heading1["What you get" section item title] Transparency}</h4>
      <p>{what-u-get-text1["What You Get" section item text] Something about Transparency, Something about Transparency Something about Transparency}</p>
    </div>
    <div>
      <img src="/images/keep-under-control.svg" alt="{what-u-get-alt2['What you get' section item image alt] Content control}" />
      <h4>{what-u-get-heading2["What you get" section item title] Keep Under Control}</h4>
      <p>{what-u-get-text2["What You Get" section item text] Something about Control Something about Control Something about Control}</p>
    </div>
    <div>
      <img src="/images/stay-secure.svg" alt="{what-u-get-alt3['What you get' section item image alt] Folder with a shield}" />
      <h4>{what-u-get-heading3["What you get" section item title] Stay Secure}</h4>
      <p>{what-u-get-text3["What You Get" section item text] Something about Security Something about Security Something about Security}</p>
    </div>
  </div>
</section>
<section id="media" class="col4 center container">
  <h3 class="cell1-4">{what-media-says[Section title] What Media <em>Says</em>}</h3>
  <a href="https://lifehacker.com/privacy-manager-puts-every-privacy-setting-at-your-fing-5942697"><img class="grayscale" src="/images/lifehacker.svg" alt="{logo-lifhacker-alt[Lifehacker logo alt text] The logo of lifehacker}"></a>
  <a href="https://www.cnet.com/how-to/easily-manage-chromes-privacy-settings-from-a-single-screen/"><img class="grayscale" src="/images/c-net.svg" alt="{logo-cnet-alt[C-net logo alt text] The logo of c-net}"></a>
  <a href="https://www.ghacks.net/2012/09/13/one-click-access-to-all-of-google-chromes-privacy-settings/"><img class="grayscale" src="/images/ghacks.png" alt="{logo-ghacks-alt[logo-Ghacks logo alt text] The logo of ghacks}"></a>
  <a href="https://www.technorms.com/15420/control-privacy-privacy-manager-chrome"><img class="grayscale" src="/images/technorms.png" alt="{logo-technorms-alt[Technorms logo alt text] The logo of technorms}"></a>
</section>
